/** Fonts **/
@font-face {
  font-family: 'Coolvetica';
  src:
    local('coolvetica-rg'),
    url('./assets/fonts/coolvetica/coolvetica-rg.otf') format('opentype');
}

/** Animated underline **/
.hover-underline-animation {
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--underline-color, #fff);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/** Keyframe animations **/
@keyframes show2 {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.15;
  }
  10% {
    opacity: 0.25;
  }
  15% {
    opacity: 0.35;
  }
  20% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.75;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0.75;
  }
  45% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.25;
  }
  55% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.15;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bounce {
  25% {
    transform: translateY(-15%);
  }
  50% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(-15%);
  }
  99% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes send {
  50% {
    transform: rotate(-35deg) translate(70%, -30%);
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up-long {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/*
  blink animation 
  --> uses 47, 97 to limit cursor fade effect, more strict blink 
*/
@keyframes blink {
  0% {
    opacity: 1;
  }
  47% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  97% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-cursor {
  animation: blink 1s linear infinite;
}
